html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 239, 241);
    font-family: Lato;
}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container header {
    text-align: center;
    font-size: 25px;
}

.container section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.container .name-email{
    display: flex;
}

.container .name-email input,
.container .password input {
    padding: 15px;
    margin: 10px;
    width: 100%;
    font-size: 17px;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
}

.container .name-email input:focus,
.container .password input:focus {
    outline: none;
    border: 2px solid rgb(134, 183, 254);
    box-shadow: 0px 0px 0px 5px rgb(180, 207, 244);
    
}

.container .name-email .invalid,
.container .password .invalid {
    background-color: lightcoral;
}








.container .sex{
    display: none;
    align-items: flex-start;
    font-size: 20px;
}

.container .sex .radio { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.container .sex .radio div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin: 5px;
}

.container .password {
    display: none;
}

.password_error {
    width: 100%;
    color: black;
    text-align: left;
}


.container .last_step{
    min-height: 300px;
    display: none;
    align-items: flex-start;
}

.container .last_step .checkbox{
    margin: 10px;
}




.butons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.butons button {
    width: 150px;
    padding: 10px;
    margin: 5px;
    color: white;
    border-radius: 5px;
    font-size: 16px;
}

.butons button:hover {
    opacity: 0.7;
    cursor: pointer;
}

.butons #next {
    border: 1px solid rgb(13, 110, 253);
    background-color: rgb(13, 110, 253);
}

.butons #previous {
    border: 1px solid grey;
    background-color: grey;
    display: none;
}

.step{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 25px;
}

.step .dot{
    width: 15px;
    height: 15px;
    margin: 10px;
    border-radius: 25px;
    background-color: lightgray;
}

.step #dot1{
    background-color: rgb(13, 110, 253);
}

.container .thank{
    display: none;
}